*/*body*/ { 
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: red;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}

.nav-list a:hover {
    background: #45567d;
}

#welcome-section {
    height: 100vh;
}
.project-tile img{
    width: 20rem;
}