* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 72, 0);
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: blue;
}

figure img {
    max-height: 13rem;
}